<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

    <meta name="keywords" content="翻墙软件,科学上网,vpn中国,好用的vpn,vpn推荐,翻墙vpn" />

{% if site.adsense_enabled and site.adsense_client and site.adsense_client != '' %}
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client={{ site.adsense_client }}" crossorigin="anonymous"></script>
{% endif %}

  </head>
  <body>

    <header class="page-header" role="banner">
      <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
      <p>
        <a class="btn" href="{{ '/about' | relative_url }}">关于</a>
        <a class="btn" href="{{ '/disclaimer' | relative_url }}">免责声明</a>
        <a class="btn" href="{{ '/privacy' | relative_url }}">隐私政策</a>
        <a class="btn" href="{{ '/contact' | relative_url }}">联系</a>
      </p>
      {% if site.github.is_project_page %}
        <a href="{{ site.github.repository_url }}" class="btn">View on GitHub</a>
      {% endif %}
      {% if site.show_downloads %}
        <a href="{{ site.github.zip_url }}" class="btn">Download .zip</a>
        <a href="{{ site.github.tar_url }}" class="btn">Download .tar.gz</a>
      {% endif %}
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}

      <footer class="site-footer">
        {% if site.github.is_project_page %}
          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
        {% endif %}
        <span class="site-footer-credits">版权所有 <a href="{{ '/' | relative_url }}">{{ site.title }}</a>.</span>
      </footer>
    </main>
</body>
</html>
