---
permalink: /sitemap.xml
layout: false
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- for item in collections.all -%}
  {%- set url = item.url -%}
  {%- set permalink = (item.data and item.data.permalink) or '' -%}
  {%- if url
    and url != '/404.html' and url != '404.html'
    and url != '/sitemap.xml' and url != 'sitemap.xml'
    and url != '/robots.txt' and url != 'robots.txt'
    and url != '/googlef79966437cc3e0e4.html' and url != 'googlef79966437cc3e0e4.html'
    and (url | slice(0, 8)) != '/assets/'
    and (not url.startsWith('/google'))
    and item.data
    and permalink != '/sitemap.xml'
    and permalink != '/robots.txt'
    and (not permalink.startsWith('/google'))
  -%}

  <url>
    <loc>{{ url | absoluteUrl(site.url) }}</loc>
    {%- if item.data and (item.data.updated or item.data.date or item.date or item.page.date) -%}
    <lastmod>{{ (item.data.updated or item.data.date or item.date or item.page.date) | dateIso }}</lastmod>
    {%- endif -%}
  </url>

  {%- endif -%}
{%- endfor -%}
</urlset>
