---
permalink: /sitemap.xml
layout: false
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- for item in collections.all -%}
  {%- if item.url and item.url != '/404.html' and item.url != '404.html' and item.url != '/sitemap.xml' and item.url != 'sitemap.xml' and item.url != '/robots.txt' and item.url != 'robots.txt' and (item.url | slice(0, 8)) != '/assets/' and item.data and item.data.permalink != '/sitemap.xml' and item.data.permalink != '/robots.txt' -%}
  <url>
    <loc>{{ item.url | absoluteUrl(site.url) }}</loc>
    {%- if item.data and (item.data.updated or item.data.date or item.date or item.page.date) -%}
    <lastmod>{{ (item.data.updated or item.data.date or item.date or item.page.date) | dateIso }}</lastmod>
    {%- endif -%}
  </url>
  {%- endif -%}
{%- endfor -%}
</urlset>
